{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/head.css">
</head>
<body>
    <div class="ribbon">
        <ul>
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if request.path == '/aboutus/' %}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
            <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href=" {% url 'contact' %} ">Contact</a></li>
            <!--<li "{% if request.path == '/aboutus/' %}active{% endif %}"><a href="">Add Item</a></li>-->
            <li class="{% if request.path == '/login/' %}active{% endif %}"><a href="/login">Login/Logout </a></li>
        <ul>
    </div>
</body>
</html>