{% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>E-Auction::Welcome</title>
</head>
<body>
    <div class="container">
        <h1>Home Page</h1>
    </div><br>

    <br><br><br><br><br><br><br>
    <div class="txt">
        This is the first page which can be seen by the user when they visit the web site link.
    </div><br><br>
    <div class="txt">
        This is the first page which can be seen by the user when they visit the web site link.
    </div><div class="txt"><br><br>
        This is the first page which can be seen by the user when they visit the web site link.
    </div><div class="txt"><br><br>
        This is the first page which can be seen by the user when they visit the web site link.
    </div>
{% include "footer.html"%}
</body>
</html>